* {
    background: #010100;
}

.container{
    width: 100vw;
    padding: 0 10vw 0 10vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sneaker {
    width: 25vw;
    margin-top: 3vh;
}

.sneaker img {
    width: 100%;
}

.sneaker .label {
    margin-top: 2vh;
    font-weight: 700;
}

.sneaker .text {
    margin-top: 2vh;
}

.sneaker .cost {
    margin-top: 2vh;
}

.sneaker .button {
    margin-top: 2vh;
}

@media (max-width: 900px) {
    .container {
        flex-direction: column;
    }
    .sneaker {
        width: 80vw;
    }
}

.button {
    border:2px solid #ffffff;
    border-radius: 10px;
    padding: 5px 0 5px 0;
    text-align: center;
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.button:hover {
    box-shadow: 0 0 40px 40px #ffffff inset;
    color: black;
}
